<div class="scrutiny-status">
  <div class="field" style="position: absolute; left: 102px; top: 82px; width: 68px; background-color: gray; font-family: Tahoma; font-size: 8px; font-weight: 300;">
    <label for="reason">Reason</label>
    <input id="reason" type="text" maxlength="100" readonly />
  </div>
  <div class="field" style="position: absolute; left: 172px; top: 82px; width: 69px; background-color: gray; font-family: Tahoma; font-size: 8px; font-weight: 300;">
    <label for="userId">User ID</label>
    <input id="userId" type="text" maxlength="50" readonly />
  </div>
  <div class="field" style="position: absolute; left: 243px; top: 82px; width: 87px; background-color: gray; font-family: Tahoma; font-size: 8px; font-weight: 300;">
    <label for="commentDate">Comment Date</label>
    <input id="commentDate" type="text" maxlength="50" readonly />
  </div>
  <button (click)="onExit()" style="position: absolute; left: 165px; top: 193px; width: 84px; height: 19px; background-color: gray; color: black; font-family: Tahoma; font-size: 8px; font-weight: bold;">Exit</button>
</div>